.Card{
    width: 100%;
    .Master{
        max-width: 935px;
        margin: 20px auto;
        height: 680px;
        display: flex;
        justify-content: space-evenly;
    .Posted{
        max-width: 620px;
        width: 100%;
    }
}
}
